.library-container {
  padding: 20px;
}

.book-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.book-card .card {
  width: 200px;
  margin: 10px;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input[type='text'] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-container button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}
